body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:411px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u153_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:411px;
  height:182px;
}
#u153 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:411px;
  height:182px;
  display:flex;
}
#u153 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u153_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u154_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:19px;
}
#u154 {
  border-width:0px;
  position:absolute;
  left:25px;
  top:41px;
  width:20px;
  height:18px;
  display:flex;
  -webkit-transform:rotate(131.987212495817deg);
  -moz-transform:rotate(131.987212495817deg);
  -ms-transform:rotate(131.987212495817deg);
  transform:rotate(131.987212495817deg);
  color:rgba(255, 255, 255, 0.996078431372549);
}
#u154 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u154_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u155_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:175px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Montserrat SemiBold', 'Montserrat Regular', 'Montserrat', sans-serif;
  font-weight:600;
  font-style:normal;
  font-size:17px;
  color:rgba(255, 255, 255, 0.996078431372549);
}
#u155 {
  border-width:0px;
  position:absolute;
  left:56px;
  top:40px;
  width:175px;
  height:20px;
  display:flex;
  font-family:'Montserrat SemiBold', 'Montserrat Regular', 'Montserrat', sans-serif;
  font-weight:600;
  font-style:normal;
  font-size:17px;
  color:rgba(255, 255, 255, 0.996078431372549);
}
#u155 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u155_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u156_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-1px;
  width:43px;
  height:5px;
}
#u156 {
  border-width:0px;
  position:absolute;
  left:56px;
  top:72px;
  width:40px;
  height:2px;
  display:flex;
  -webkit-transform:rotate(-0.0349364465928012deg);
  -moz-transform:rotate(-0.0349364465928012deg);
  -ms-transform:rotate(-0.0349364465928012deg);
  transform:rotate(-0.0349364465928012deg);
  color:rgba(255, 255, 255, 0.996078431372549);
}
#u156 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u156_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u157 {
  border-width:0px;
  position:absolute;
  left:19px;
  top:91px;
  width:376px;
  height:877px;
}
#u157_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:877px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u157_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u158_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:298px;
  height:62px;
  background:inherit;
  background-color:rgba(83, 27, 27, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Montserrat Bold', 'Montserrat Regular', 'Montserrat', sans-serif;
  font-weight:700;
  font-style:normal;
  color:#6E0650;
}
#u158 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:102px;
  width:298px;
  height:62px;
  display:flex;
  font-family:'Montserrat Bold', 'Montserrat Regular', 'Montserrat', sans-serif;
  font-weight:700;
  font-style:normal;
  color:#6E0650;
}
#u158 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u158_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u159_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:30px;
  background:inherit;
  background-color:rgba(83, 27, 27, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Montserrat Bold', 'Montserrat Regular', 'Montserrat', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:13px;
  color:#B94E9B;
}
#u159 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:30px;
  display:flex;
  font-family:'Montserrat Bold', 'Montserrat Regular', 'Montserrat', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:13px;
  color:#B94E9B;
}
#u159 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u159_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u160_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:30px;
  background:inherit;
  background-color:rgba(83, 27, 27, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Montserrat Bold', 'Montserrat Regular', 'Montserrat', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:13px;
  color:rgba(255, 255, 255, 0.996078431372549);
  text-align:center;
}
#u160 {
  border-width:0px;
  position:absolute;
  left:65px;
  top:0px;
  width:68px;
  height:30px;
  display:flex;
  font-family:'Montserrat Bold', 'Montserrat Regular', 'Montserrat', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:13px;
  color:rgba(255, 255, 255, 0.996078431372549);
  text-align:center;
}
#u160 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u160_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u161_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:30px;
  background:inherit;
  background-color:rgba(83, 27, 27, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Montserrat Bold', 'Montserrat Regular', 'Montserrat', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:13px;
  color:#B94E9B;
  text-align:center;
}
#u161 {
  border-width:0px;
  position:absolute;
  left:133px;
  top:0px;
  width:92px;
  height:30px;
  display:flex;
  font-family:'Montserrat Bold', 'Montserrat Regular', 'Montserrat', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:13px;
  color:#B94E9B;
  text-align:center;
}
#u161 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u161_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u162_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:196px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Poppins', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u162 {
  border-width:0px;
  position:absolute;
  left:51px;
  top:172px;
  width:196px;
  height:19px;
  display:flex;
  font-family:'Poppins', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u162 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u162_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u163_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u163 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:170px;
  width:25px;
  height:25px;
  display:flex;
  font-size:12px;
}
#u163 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u163_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u164_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:378px;
  height:825px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Poppins', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-align:justify;
  text-justify:inter-word;
}
#u164 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:217px;
  width:378px;
  height:825px;
  display:flex;
  font-family:'Poppins', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-align:justify;
  text-justify:inter-word;
}
#u164 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u164_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u157_state1 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:877px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  visibility:hidden;
}
#u157_state1_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u165_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:298px;
  height:62px;
  background:inherit;
  background-color:rgba(83, 27, 27, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Poppins Bold', 'Poppins Regular', 'Poppins', sans-serif;
  font-weight:700;
  font-style:normal;
  color:#6E0650;
}
#u165 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:102px;
  width:298px;
  height:62px;
  display:flex;
  font-family:'Poppins Bold', 'Poppins Regular', 'Poppins', sans-serif;
  font-weight:700;
  font-style:normal;
  color:#6E0650;
}
#u165 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u165_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u166_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:30px;
  background:inherit;
  background-color:rgba(83, 27, 27, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Montserrat Bold', 'Montserrat Regular', 'Montserrat', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:13px;
  color:rgba(255, 255, 255, 0.996078431372549);
}
#u166 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:30px;
  display:flex;
  font-family:'Montserrat Bold', 'Montserrat Regular', 'Montserrat', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:13px;
  color:rgba(255, 255, 255, 0.996078431372549);
}
#u166 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u166_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u167_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:30px;
  background:inherit;
  background-color:rgba(83, 27, 27, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Montserrat Bold', 'Montserrat Regular', 'Montserrat', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:13px;
  color:#B94E9B;
  text-align:center;
}
#u167 {
  border-width:0px;
  position:absolute;
  left:65px;
  top:0px;
  width:68px;
  height:30px;
  display:flex;
  font-family:'Montserrat Bold', 'Montserrat Regular', 'Montserrat', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:13px;
  color:#B94E9B;
  text-align:center;
}
#u167 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u167_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u168_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:30px;
  background:inherit;
  background-color:rgba(83, 27, 27, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Montserrat Bold', 'Montserrat Regular', 'Montserrat', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:13px;
  color:#B94E9B;
  text-align:center;
}
#u168 {
  border-width:0px;
  position:absolute;
  left:133px;
  top:0px;
  width:92px;
  height:30px;
  display:flex;
  font-family:'Montserrat Bold', 'Montserrat Regular', 'Montserrat', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:13px;
  color:#B94E9B;
  text-align:center;
}
#u168 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u168_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u169_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:196px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Poppins', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u169 {
  border-width:0px;
  position:absolute;
  left:51px;
  top:172px;
  width:196px;
  height:19px;
  display:flex;
  font-family:'Poppins', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u169 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u169_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u170_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u170 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:170px;
  width:25px;
  height:25px;
  display:flex;
  font-size:12px;
}
#u170 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u170_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u171_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:378px;
  height:825px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Poppins', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-align:justify;
  text-justify:inter-word;
}
#u171 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:217px;
  width:378px;
  height:825px;
  display:flex;
  font-family:'Poppins', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-align:justify;
  text-justify:inter-word;
}
#u171 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u171_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u157_state2 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:877px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  visibility:hidden;
}
#u157_state2_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u172_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:298px;
  height:62px;
  background:inherit;
  background-color:rgba(83, 27, 27, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Montserrat Bold', 'Montserrat Regular', 'Montserrat', sans-serif;
  font-weight:700;
  font-style:normal;
  color:#6E0650;
}
#u172 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:102px;
  width:298px;
  height:62px;
  display:flex;
  font-family:'Montserrat Bold', 'Montserrat Regular', 'Montserrat', sans-serif;
  font-weight:700;
  font-style:normal;
  color:#6E0650;
}
#u172 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u172_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u173_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:30px;
  background:inherit;
  background-color:rgba(83, 27, 27, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Montserrat Bold', 'Montserrat Regular', 'Montserrat', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:13px;
  color:#B94E9B;
}
#u173 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:30px;
  display:flex;
  font-family:'Montserrat Bold', 'Montserrat Regular', 'Montserrat', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:13px;
  color:#B94E9B;
}
#u173 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u173_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u174_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:30px;
  background:inherit;
  background-color:rgba(83, 27, 27, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Montserrat Bold', 'Montserrat Regular', 'Montserrat', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:13px;
  color:#B94E9B;
  text-align:center;
}
#u174 {
  border-width:0px;
  position:absolute;
  left:65px;
  top:0px;
  width:68px;
  height:30px;
  display:flex;
  font-family:'Montserrat Bold', 'Montserrat Regular', 'Montserrat', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:13px;
  color:#B94E9B;
  text-align:center;
}
#u174 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u174_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u175_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:30px;
  background:inherit;
  background-color:rgba(83, 27, 27, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Montserrat Bold', 'Montserrat Regular', 'Montserrat', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:13px;
  color:rgba(255, 255, 255, 0.996078431372549);
  text-align:center;
}
#u175 {
  border-width:0px;
  position:absolute;
  left:133px;
  top:0px;
  width:92px;
  height:30px;
  display:flex;
  font-family:'Montserrat Bold', 'Montserrat Regular', 'Montserrat', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:13px;
  color:rgba(255, 255, 255, 0.996078431372549);
  text-align:center;
}
#u175 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u175_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u176_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:196px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Poppins', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u176 {
  border-width:0px;
  position:absolute;
  left:51px;
  top:172px;
  width:196px;
  height:19px;
  display:flex;
  font-family:'Poppins', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u176 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u176_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u177_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u177 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:170px;
  width:25px;
  height:25px;
  display:flex;
  font-size:12px;
}
#u177 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u177_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u178_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:378px;
  height:825px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Poppins', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-align:justify;
  text-justify:inter-word;
}
#u178 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:217px;
  width:378px;
  height:825px;
  display:flex;
  font-family:'Poppins', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-align:justify;
  text-justify:inter-word;
}
#u178 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u178_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u179 {
  position:absolute;
  left:0px;
  top:84px;
}
#u179_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  background-image:none;
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u179_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u179_state1 {
  position:relative;
  left:0px;
  top:0px;
  width:411px;
  height:44px;
  background-image:none;
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  visibility:hidden;
}
#u179_state1_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u180_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:411px;
  height:44px;
  background:inherit;
  background-color:rgba(140, 17, 106, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u180 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:411px;
  height:44px;
  display:flex;
}
#u180 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u180_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u181_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:30px;
  background:inherit;
  background-color:rgba(83, 27, 27, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Montserrat Bold', 'Montserrat Regular', 'Montserrat', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#B94E9B;
  text-align:center;
}
#u181 {
  border-width:0px;
  position:absolute;
  left:46px;
  top:7px;
  width:75px;
  height:30px;
  display:flex;
  font-family:'Montserrat Bold', 'Montserrat Regular', 'Montserrat', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#B94E9B;
  text-align:center;
}
#u181 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u181_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u182_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:30px;
  background:inherit;
  background-color:rgba(83, 27, 27, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Montserrat Bold', 'Montserrat Regular', 'Montserrat', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:rgba(255, 255, 255, 0.996078431372549);
  text-align:center;
}
#u182 {
  border-width:0px;
  position:absolute;
  left:121px;
  top:7px;
  width:68px;
  height:30px;
  display:flex;
  font-family:'Montserrat Bold', 'Montserrat Regular', 'Montserrat', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:rgba(255, 255, 255, 0.996078431372549);
  text-align:center;
}
#u182 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u182_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u183_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:30px;
  background:inherit;
  background-color:rgba(83, 27, 27, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Montserrat Bold', 'Montserrat Regular', 'Montserrat', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#B94E9B;
  text-align:center;
}
#u183 {
  border-width:0px;
  position:absolute;
  left:189px;
  top:7px;
  width:92px;
  height:30px;
  display:flex;
  font-family:'Montserrat Bold', 'Montserrat Regular', 'Montserrat', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#B94E9B;
  text-align:center;
}
#u183 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u183_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u179_state2 {
  position:relative;
  left:0px;
  top:0px;
  width:411px;
  height:44px;
  background-image:none;
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  visibility:hidden;
}
#u179_state2_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u184_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:411px;
  height:44px;
  background:inherit;
  background-color:rgba(140, 17, 106, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u184 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:411px;
  height:44px;
  display:flex;
}
#u184 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u184_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u185_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:30px;
  background:inherit;
  background-color:rgba(83, 27, 27, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Montserrat Bold', 'Montserrat Regular', 'Montserrat', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#B94E9B;
  text-align:center;
}
#u185 {
  border-width:0px;
  position:absolute;
  left:46px;
  top:7px;
  width:75px;
  height:30px;
  display:flex;
  font-family:'Montserrat Bold', 'Montserrat Regular', 'Montserrat', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#B94E9B;
  text-align:center;
}
#u185 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u185_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u186_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:30px;
  background:inherit;
  background-color:rgba(83, 27, 27, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Montserrat Bold', 'Montserrat Regular', 'Montserrat', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#B94E9B;
  text-align:center;
}
#u186 {
  border-width:0px;
  position:absolute;
  left:121px;
  top:7px;
  width:68px;
  height:30px;
  display:flex;
  font-family:'Montserrat Bold', 'Montserrat Regular', 'Montserrat', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#B94E9B;
  text-align:center;
}
#u186 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u186_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u187_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:30px;
  background:inherit;
  background-color:rgba(83, 27, 27, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Montserrat Bold', 'Montserrat Regular', 'Montserrat', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:rgba(255, 255, 255, 0.996078431372549);
  text-align:center;
}
#u187 {
  border-width:0px;
  position:absolute;
  left:189px;
  top:7px;
  width:92px;
  height:30px;
  display:flex;
  font-family:'Montserrat Bold', 'Montserrat Regular', 'Montserrat', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:rgba(255, 255, 255, 0.996078431372549);
  text-align:center;
}
#u187 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u187_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u188_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:411px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u188 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:968px;
  width:411px;
  height:50px;
  display:flex;
}
#u188 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u188_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
