body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:411px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
.u897_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:404px;
  height:131px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0.00784313725490196);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
.u897 {
  border-width:0px;
  position:absolute;
  left:7px;
  top:0px;
  width:404px;
  height:131px;
  display:flex;
}
.u897 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
.u897_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
.u898_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:386px;
  height:109px;
  background:inherit;
  background-color:rgba(255, 251, 251, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(110, 6, 80, 1);
  border-radius:10px;
  -moz-box-shadow:0px 0px 5px rgba(0, 0, 0, 0.117647058823529);
  -webkit-box-shadow:0px 0px 5px rgba(0, 0, 0, 0.117647058823529);
  box-shadow:0px 0px 5px rgba(0, 0, 0, 0.117647058823529);
}
.u898 {
  border-width:0px;
  position:absolute;
  left:11px;
  top:11px;
  width:386px;
  height:109px;
  display:flex;
}
.u898 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
.u898_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
.u899_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:256px;
  height:45px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Montserrat SemiBold', 'Montserrat Regular', 'Montserrat', sans-serif;
  font-weight:600;
  font-style:normal;
  font-size:17px;
  color:#6E0650;
}
.u899 {
  border-width:0px;
  position:absolute;
  left:128px;
  top:21px;
  width:256px;
  height:45px;
  display:flex;
  font-family:'Montserrat SemiBold', 'Montserrat Regular', 'Montserrat', sans-serif;
  font-weight:600;
  font-style:normal;
  font-size:17px;
  color:#6E0650;
}
.u899 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
.u899_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
.u900_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:29px;
  background:inherit;
  background-color:rgba(174, 9, 128, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Montserrat Light', 'Montserrat Regular', 'Montserrat', sans-serif;
  font-weight:300;
  font-style:normal;
  color:rgba(255, 255, 255, 0.996078431372549);
}
.u900 {
  border-width:0px;
  position:absolute;
  left:318px;
  top:78px;
  width:66px;
  height:29px;
  display:flex;
  font-family:'Montserrat Light', 'Montserrat Regular', 'Montserrat', sans-serif;
  font-weight:300;
  font-style:normal;
  color:rgba(255, 255, 255, 0.996078431372549);
}
.u900 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
.u900_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
.u901_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:13px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Montserrat', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:10px;
}
.u901 {
  border-width:0px;
  position:absolute;
  left:144px;
  top:86px;
  width:34px;
  height:13px;
  display:flex;
  font-family:'Montserrat', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:10px;
}
.u901 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
.u901_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
.u902_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:15px;
}
.u902 {
  border-width:0px;
  position:absolute;
  left:129px;
  top:85px;
  width:10px;
  height:15px;
  display:flex;
}
.u902 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
.u902_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
.u903_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:100px;
}
.u903 {
  border-width:0px;
  position:absolute;
  left:16px;
  top:15px;
  width:100px;
  height:100px;
  display:flex;
}
.u903 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
.u903_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
.u904 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
.u905_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:16px;
}
.u905 {
  border-width:0px;
  position:absolute;
  left:216px;
  top:86px;
  width:18px;
  height:16px;
  display:flex;
}
.u905 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
.u905_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
.u906_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:16px;
}
.u906 {
  border-width:0px;
  position:absolute;
  left:216px;
  top:86px;
  width:18px;
  height:16px;
  display:flex;
}
.u906 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
.u906_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u896-1 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:411px;
  height:131px;
}
#u896-2 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:131px;
  width:411px;
  height:131px;
}
#u896-3 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:262px;
  width:411px;
  height:131px;
}
#u896-4 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:393px;
  width:411px;
  height:131px;
}
#u896 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:26px;
  width:411px;
  height:524px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
}
#u907_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:139px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Montserrat SemiBold', 'Montserrat Regular', 'Montserrat', sans-serif;
  font-weight:600;
  font-style:normal;
  color:#6E0650;
}
#u907 {
  border-width:0px;
  position:absolute;
  left:13px;
  top:8px;
  width:139px;
  height:16px;
  display:flex;
  font-family:'Montserrat SemiBold', 'Montserrat Regular', 'Montserrat', sans-serif;
  font-weight:600;
  font-style:normal;
  color:#6E0650;
}
#u907 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u907_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
