body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:411px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u0_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  height:46px;
}
#u0 {
  border-width:0px;
  position:absolute;
  left:146px;
  top:540px;
  width:119px;
  height:46px;
  display:flex;
  font-family:'Montserrat', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u0 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u0_img.mouseOver {
}
#u0.mouseOver {
}
#u0_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  height:46px;
}
#u1 {
  border-width:0px;
  position:absolute;
  left:146px;
  top:608px;
  width:119px;
  height:46px;
  display:flex;
  font-family:'Montserrat', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u1 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1_img.mouseOver {
}
#u1.mouseOver {
}
#u1_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:255px;
  height:103px;
}
#u2 {
  border-width:0px;
  position:absolute;
  left:78px;
  top:272px;
  width:255px;
  height:103px;
  display:flex;
}
#u2 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
