body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:411px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u830_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:411px;
  height:753px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u830 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:411px;
  height:753px;
  display:flex;
}
#u830 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u830_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u831_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:411px;
  height:182px;
}
#u831 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:411px;
  height:182px;
  display:flex;
}
#u831 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u831_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
.u833_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:411px;
  height:131px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
.u833 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:411px;
  height:131px;
  display:flex;
}
.u833 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
.u833_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
.u834_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:386px;
  height:109px;
  background:inherit;
  background-color:rgba(255, 251, 251, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(110, 6, 80, 1);
  border-radius:10px;
  -moz-box-shadow:0px 0px 5px rgba(0, 0, 0, 0.117647058823529);
  -webkit-box-shadow:0px 0px 5px rgba(0, 0, 0, 0.117647058823529);
  box-shadow:0px 0px 5px rgba(0, 0, 0, 0.117647058823529);
}
.u834 {
  border-width:0px;
  position:absolute;
  left:11px;
  top:11px;
  width:386px;
  height:109px;
  display:flex;
}
.u834 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
.u834_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
.u835_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:256px;
  height:45px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Montserrat SemiBold', 'Montserrat Regular', 'Montserrat', sans-serif;
  font-weight:600;
  font-style:normal;
  font-size:17px;
  color:#6E0650;
}
.u835 {
  border-width:0px;
  position:absolute;
  left:128px;
  top:21px;
  width:256px;
  height:45px;
  display:flex;
  font-family:'Montserrat SemiBold', 'Montserrat Regular', 'Montserrat', sans-serif;
  font-weight:600;
  font-style:normal;
  font-size:17px;
  color:#6E0650;
}
.u835 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
.u835_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
.u836_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:29px;
  background:inherit;
  background-color:rgba(174, 9, 128, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Montserrat Light', 'Montserrat Regular', 'Montserrat', sans-serif;
  font-weight:300;
  font-style:normal;
  color:rgba(255, 255, 255, 0.996078431372549);
}
.u836 {
  border-width:0px;
  position:absolute;
  left:318px;
  top:78px;
  width:66px;
  height:29px;
  display:flex;
  font-family:'Montserrat Light', 'Montserrat Regular', 'Montserrat', sans-serif;
  font-weight:300;
  font-style:normal;
  color:rgba(255, 255, 255, 0.996078431372549);
}
.u836 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
.u836_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
.u837_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:13px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Montserrat', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:10px;
}
.u837 {
  border-width:0px;
  position:absolute;
  left:144px;
  top:86px;
  width:34px;
  height:13px;
  display:flex;
  font-family:'Montserrat', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:10px;
}
.u837 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
.u837_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
.u838_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:15px;
}
.u838 {
  border-width:0px;
  position:absolute;
  left:129px;
  top:85px;
  width:10px;
  height:15px;
  display:flex;
}
.u838 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
.u838_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
.u839_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:92px;
}
.u839 {
  border-width:0px;
  position:absolute;
  left:19px;
  top:20px;
  width:92px;
  height:92px;
  display:flex;
}
.u839 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
.u839_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
.u840 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
.u841_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:16px;
}
.u841 {
  border-width:0px;
  position:absolute;
  left:227px;
  top:86px;
  width:18px;
  height:16px;
  display:flex;
}
.u841 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
.u841_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
.u842_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:16px;
}
.u842 {
  border-width:0px;
  position:absolute;
  left:227px;
  top:86px;
  width:18px;
  height:16px;
  display:flex;
}
.u842 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
.u842_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u832-1 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:411px;
  height:131px;
}
#u832-2 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:131px;
  width:411px;
  height:131px;
}
#u832-3 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:262px;
  width:411px;
  height:131px;
}
#u832-4 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:393px;
  width:411px;
  height:131px;
}
#u832-5 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:524px;
  width:411px;
  height:131px;
}
#u832 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:98px;
  width:411px;
  height:655px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
}
#u843_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:19px;
}
#u843 {
  border-width:0px;
  position:absolute;
  left:25px;
  top:41px;
  width:20px;
  height:18px;
  display:flex;
  -webkit-transform:rotate(131.987212495817deg);
  -moz-transform:rotate(131.987212495817deg);
  -ms-transform:rotate(131.987212495817deg);
  transform:rotate(131.987212495817deg);
  color:rgba(255, 255, 255, 0.996078431372549);
}
#u843 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u843_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u844_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Montserrat SemiBold', 'Montserrat Regular', 'Montserrat', sans-serif;
  font-weight:600;
  font-style:normal;
  font-size:17px;
  color:rgba(255, 255, 255, 0.996078431372549);
}
#u844 {
  border-width:0px;
  position:absolute;
  left:56px;
  top:40px;
  width:62px;
  height:20px;
  display:flex;
  font-family:'Montserrat SemiBold', 'Montserrat Regular', 'Montserrat', sans-serif;
  font-weight:600;
  font-style:normal;
  font-size:17px;
  color:rgba(255, 255, 255, 0.996078431372549);
}
#u844 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u844_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u845_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-1px;
  width:43px;
  height:5px;
}
#u845 {
  border-width:0px;
  position:absolute;
  left:56px;
  top:72px;
  width:40px;
  height:2px;
  display:flex;
  -webkit-transform:rotate(-0.0349364465928012deg);
  -moz-transform:rotate(-0.0349364465928012deg);
  -ms-transform:rotate(-0.0349364465928012deg);
  transform:rotate(-0.0349364465928012deg);
  color:rgba(255, 255, 255, 0.996078431372549);
}
#u845 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u845_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
