body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:411px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u513_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:411px;
  height:1460px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u513 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:411px;
  height:1460px;
  display:flex;
}
#u513 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u513_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u514_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:411px;
  height:408px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  background-image:url('../../images/hemina/u226_div.jpg');
  background-repeat:no-repeat;
  background-size:505px 407px;
  background-position: -47.0px 0.5px;
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u514 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:411px;
  height:408px;
  display:flex;
}
#u514 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u514_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u515_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:19px;
}
#u515 {
  border-width:0px;
  position:absolute;
  left:25px;
  top:32px;
  width:20px;
  height:18px;
  display:flex;
  -webkit-transform:rotate(131.987212495817deg);
  -moz-transform:rotate(131.987212495817deg);
  -ms-transform:rotate(131.987212495817deg);
  transform:rotate(131.987212495817deg);
}
#u515 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u515_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u517 {
  position:fixed;
  left:0px;
  bottom:0px;
}
#u517_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:411px;
  height:73px;
  background-image:none;
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u517_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u518_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:411px;
  height:73px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:0px 0px 20px rgba(0, 0, 0, 0.290196078431373);
  -webkit-box-shadow:0px 0px 20px rgba(0, 0, 0, 0.290196078431373);
  box-shadow:0px 0px 20px rgba(0, 0, 0, 0.290196078431373);
}
#u518 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:411px;
  height:73px;
  display:flex;
}
#u518 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u518_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u519_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:325px;
  height:52px;
  background:inherit;
  background-color:rgba(255, 251, 251, 1);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(110, 6, 80, 1);
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Montserrat', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:17px;
  color:#AE0980;
}
#u519 {
  border-width:0px;
  position:absolute;
  left:73px;
  top:10px;
  width:325px;
  height:52px;
  display:flex;
  font-family:'Montserrat', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:17px;
  color:#AE0980;
}
#u519 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u519_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:325px;
  height:52px;
  background:inherit;
  background-color:rgba(174, 9, 128, 1);
  border:none;
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Montserrat', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:17px;
  color:#AE0980;
}
#u519.mouseOver {
}
#u519_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u520_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:52px;
  background:inherit;
  background-color:rgba(255, 251, 251, 1);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(110, 6, 80, 1);
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u520 {
  border-width:0px;
  position:absolute;
  left:12px;
  top:10px;
  width:52px;
  height:52px;
  display:flex;
}
#u520 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u520_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u521_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:30px;
}
#u521 {
  border-width:0px;
  position:absolute;
  left:21px;
  top:22px;
  width:34px;
  height:30px;
  display:flex;
}
#u521 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u521_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u522_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:30px;
}
#u522 {
  border-width:0px;
  position:absolute;
  left:21px;
  top:22px;
  width:34px;
  height:30px;
  display:flex;
}
#u522 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u522_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
.u525_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:404px;
  height:131px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
.u525 {
  border-width:0px;
  position:absolute;
  left:7px;
  top:0px;
  width:404px;
  height:131px;
  display:flex;
}
.u525 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
.u525_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
.u526_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:386px;
  height:109px;
  background:inherit;
  background-color:rgba(255, 251, 251, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(174, 9, 128, 1);
  border-radius:10px;
  -moz-box-shadow:0px 0px 5px rgba(0, 0, 0, 0.117647058823529);
  -webkit-box-shadow:0px 0px 5px rgba(0, 0, 0, 0.117647058823529);
  box-shadow:0px 0px 5px rgba(0, 0, 0, 0.117647058823529);
}
.u526 {
  border-width:0px;
  position:absolute;
  left:11px;
  top:11px;
  width:386px;
  height:109px;
  display:flex;
}
.u526 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
.u526_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
.u527_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:256px;
  height:45px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Montserrat SemiBold', 'Montserrat Regular', 'Montserrat', sans-serif;
  font-weight:600;
  font-style:normal;
  font-size:17px;
  color:#6E0650;
}
.u527 {
  border-width:0px;
  position:absolute;
  left:128px;
  top:21px;
  width:256px;
  height:45px;
  display:flex;
  font-family:'Montserrat SemiBold', 'Montserrat Regular', 'Montserrat', sans-serif;
  font-weight:600;
  font-style:normal;
  font-size:17px;
  color:#6E0650;
}
.u527 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
.u527_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
.u528_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:29px;
  background:inherit;
  background-color:rgba(174, 9, 128, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Montserrat Light', 'Montserrat Regular', 'Montserrat', sans-serif;
  font-weight:300;
  font-style:normal;
  color:rgba(255, 255, 255, 0.996078431372549);
}
.u528 {
  border-width:0px;
  position:absolute;
  left:318px;
  top:78px;
  width:66px;
  height:29px;
  display:flex;
  font-family:'Montserrat Light', 'Montserrat Regular', 'Montserrat', sans-serif;
  font-weight:300;
  font-style:normal;
  color:rgba(255, 255, 255, 0.996078431372549);
}
.u528 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
.u528_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
.u529_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  height:13px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Montserrat', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:10px;
}
.u529 {
  border-width:0px;
  position:absolute;
  left:144px;
  top:89px;
  width:54px;
  height:13px;
  display:flex;
  font-family:'Montserrat', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:10px;
}
.u529 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
.u529_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
.u530_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:15px;
}
.u530 {
  border-width:0px;
  position:absolute;
  left:129px;
  top:88px;
  width:10px;
  height:15px;
  display:flex;
}
.u530 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
.u530_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
.u531_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:100px;
}
.u531 {
  border-width:0px;
  position:absolute;
  left:16px;
  top:15px;
  width:100px;
  height:100px;
  display:flex;
}
.u531 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
.u531_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
.u532 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
.u533_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:16px;
}
.u533 {
  border-width:0px;
  position:absolute;
  left:238px;
  top:88px;
  width:18px;
  height:16px;
  display:flex;
}
.u533 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
.u533_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
.u534_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:16px;
}
.u534 {
  border-width:0px;
  position:absolute;
  left:238px;
  top:88px;
  width:18px;
  height:16px;
  display:flex;
}
.u534 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
.u534_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u524-1 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:411px;
  height:131px;
}
#u524-2 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:131px;
  width:411px;
  height:131px;
}
#u524-3 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:262px;
  width:411px;
  height:131px;
}
#u524-4 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:393px;
  width:411px;
  height:131px;
}
#u524 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:782px;
  width:411px;
  height:524px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
}
#u535_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:139px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Montserrat SemiBold', 'Montserrat Regular', 'Montserrat', sans-serif;
  font-weight:600;
  font-style:normal;
  color:#6E0650;
}
#u535 {
  border-width:0px;
  position:absolute;
  left:13px;
  top:764px;
  width:139px;
  height:16px;
  display:flex;
  font-family:'Montserrat SemiBold', 'Montserrat Regular', 'Montserrat', sans-serif;
  font-weight:600;
  font-style:normal;
  color:#6E0650;
}
#u535 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u535_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u536_img {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:-5px;
  width:380px;
  height:405px;
}
#u536 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:336px;
  width:370px;
  height:395px;
  display:flex;
}
#u536 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u536_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u537_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:38px;
  background:inherit;
  background-color:rgba(174, 9, 128, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:5px 10px 20px rgba(0, 0, 0, 0.203921568627451);
  -webkit-box-shadow:5px 10px 20px rgba(0, 0, 0, 0.203921568627451);
  box-shadow:5px 10px 20px rgba(0, 0, 0, 0.203921568627451);
  font-family:'Montserrat Light', 'Montserrat Regular', 'Montserrat', sans-serif;
  font-weight:300;
  font-style:normal;
  color:rgba(255, 255, 255, 0.996078431372549);
}
#u537 {
  border-width:0px;
  position:absolute;
  left:305px;
  top:468px;
  width:66px;
  height:38px;
  display:flex;
  font-family:'Montserrat Light', 'Montserrat Regular', 'Montserrat', sans-serif;
  font-weight:300;
  font-style:normal;
  color:rgba(255, 255, 255, 0.996078431372549);
}
#u537 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u537_div.focused {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:38px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:5px 10px 20px rgba(0, 0, 0, 0.203921568627451);
  -webkit-box-shadow:5px 10px 20px rgba(0, 0, 0, 0.203921568627451);
  box-shadow:5px 10px 20px rgba(0, 0, 0, 0.203921568627451);
  font-family:'Montserrat Light', 'Montserrat Regular', 'Montserrat', sans-serif;
  font-weight:300;
  font-style:normal;
  color:rgba(255, 255, 255, 0.996078431372549);
}
#u537.focused {
}
#u537_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u538_img {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:-5px;
  width:88px;
  height:88px;
}
#u538 {
  border-width:0px;
  position:absolute;
  left:163px;
  top:296px;
  width:78px;
  height:78px;
  display:flex;
}
#u538 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u538_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u539_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:251px;
  height:44px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Montserrat SemiBold', 'Montserrat Regular', 'Montserrat', sans-serif;
  font-weight:600;
  font-style:normal;
  font-size:17px;
  color:#6E0650;
}
#u539 {
  border-width:0px;
  position:absolute;
  left:41px;
  top:462px;
  width:251px;
  height:44px;
  display:flex;
  font-family:'Montserrat SemiBold', 'Montserrat Regular', 'Montserrat', sans-serif;
  font-weight:600;
  font-style:normal;
  font-size:17px;
  color:#6E0650;
}
#u539 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u539_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u540_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:13px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Montserrat', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:10px;
}
#u540 {
  border-width:0px;
  position:absolute;
  left:55px;
  top:508px;
  width:58px;
  height:13px;
  display:flex;
  font-family:'Montserrat', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:10px;
}
#u540 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u540_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u541_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:15px;
}
#u541 {
  border-width:0px;
  position:absolute;
  left:43px;
  top:508px;
  width:10px;
  height:15px;
  display:flex;
}
#u541 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u541_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u542_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:330px;
  height:176px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:justify;
  text-justify:inter-word;
}
#u542 {
  border-width:0px;
  position:absolute;
  left:41px;
  top:538px;
  width:330px;
  height:176px;
  display:flex;
  text-align:justify;
  text-justify:inter-word;
}
#u542 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u542_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u543_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:55px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-top:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Montserrat ExtraLight', 'Montserrat Regular', 'Montserrat', sans-serif;
  font-weight:250;
  font-style:normal;
  color:#6E0650;
  text-align:center;
}
#u543 {
  border-width:0px;
  position:absolute;
  left:87px;
  top:384px;
  width:44px;
  height:55px;
  display:flex;
  font-family:'Montserrat ExtraLight', 'Montserrat Regular', 'Montserrat', sans-serif;
  font-weight:250;
  font-style:normal;
  color:#6E0650;
  text-align:center;
}
#u543 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u543_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u544_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Poppins', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:10px;
  color:#6E0650;
  text-align:center;
}
#u544 {
  border-width:0px;
  position:absolute;
  left:82px;
  top:431px;
  width:52px;
  height:14px;
  display:flex;
  font-family:'Poppins', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:10px;
  color:#6E0650;
  text-align:center;
}
#u544 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u544_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u545_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:55px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Montserrat ExtraLight', 'Montserrat Regular', 'Montserrat', sans-serif;
  font-weight:250;
  font-style:normal;
  color:#6E0650;
  text-align:center;
}
#u545 {
  border-width:0px;
  position:absolute;
  left:181px;
  top:384px;
  width:44px;
  height:55px;
  display:flex;
  font-family:'Montserrat ExtraLight', 'Montserrat Regular', 'Montserrat', sans-serif;
  font-weight:250;
  font-style:normal;
  color:#6E0650;
  text-align:center;
}
#u545 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u545_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u546_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Poppins', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:10px;
  color:#6E0650;
  text-align:center;
}
#u546 {
  border-width:0px;
  position:absolute;
  left:168px;
  top:431px;
  width:67px;
  height:14px;
  display:flex;
  font-family:'Poppins', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:10px;
  color:#6E0650;
  text-align:center;
}
#u546 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u546_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u547_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:55px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Montserrat ExtraLight', 'Montserrat Regular', 'Montserrat', sans-serif;
  font-weight:250;
  font-style:normal;
  color:#6E0650;
  text-align:center;
}
#u547 {
  border-width:0px;
  position:absolute;
  left:275px;
  top:384px;
  width:43px;
  height:55px;
  display:flex;
  font-family:'Montserrat ExtraLight', 'Montserrat Regular', 'Montserrat', sans-serif;
  font-weight:250;
  font-style:normal;
  color:#6E0650;
  text-align:center;
}
#u547 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u547_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u548_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Poppins', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:10px;
  color:#6E0650;
  text-align:center;
}
#u548 {
  border-width:0px;
  position:absolute;
  left:265px;
  top:431px;
  width:63px;
  height:14px;
  display:flex;
  font-family:'Poppins', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:10px;
  color:#6E0650;
  text-align:center;
}
#u548 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u548_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
