body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:411px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
.u910_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:404px;
  height:131px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
.u910 {
  border-width:0px;
  position:absolute;
  left:7px;
  top:0px;
  width:404px;
  height:131px;
  display:flex;
}
.u910 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
.u910_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
.u911_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:386px;
  height:109px;
  background:inherit;
  background-color:rgba(255, 251, 251, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(174, 9, 128, 1);
  border-radius:10px;
  -moz-box-shadow:0px 0px 5px rgba(0, 0, 0, 0.117647058823529);
  -webkit-box-shadow:0px 0px 5px rgba(0, 0, 0, 0.117647058823529);
  box-shadow:0px 0px 5px rgba(0, 0, 0, 0.117647058823529);
}
.u911 {
  border-width:0px;
  position:absolute;
  left:11px;
  top:11px;
  width:386px;
  height:109px;
  display:flex;
}
.u911 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
.u911_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
.u912_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:256px;
  height:45px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Montserrat SemiBold', 'Montserrat Regular', 'Montserrat', sans-serif;
  font-weight:600;
  font-style:normal;
  font-size:17px;
  color:#6E0650;
}
.u912 {
  border-width:0px;
  position:absolute;
  left:128px;
  top:21px;
  width:256px;
  height:45px;
  display:flex;
  font-family:'Montserrat SemiBold', 'Montserrat Regular', 'Montserrat', sans-serif;
  font-weight:600;
  font-style:normal;
  font-size:17px;
  color:#6E0650;
}
.u912 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
.u912_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
.u913_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:29px;
  background:inherit;
  background-color:rgba(174, 9, 128, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Montserrat Light', 'Montserrat Regular', 'Montserrat', sans-serif;
  font-weight:300;
  font-style:normal;
  color:rgba(255, 255, 255, 0.996078431372549);
}
.u913 {
  border-width:0px;
  position:absolute;
  left:318px;
  top:78px;
  width:66px;
  height:29px;
  display:flex;
  font-family:'Montserrat Light', 'Montserrat Regular', 'Montserrat', sans-serif;
  font-weight:300;
  font-style:normal;
  color:rgba(255, 255, 255, 0.996078431372549);
}
.u913 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
.u913_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
.u914_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  height:13px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Montserrat', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:10px;
}
.u914 {
  border-width:0px;
  position:absolute;
  left:144px;
  top:89px;
  width:54px;
  height:13px;
  display:flex;
  font-family:'Montserrat', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:10px;
}
.u914 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
.u914_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
.u915_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:15px;
}
.u915 {
  border-width:0px;
  position:absolute;
  left:129px;
  top:88px;
  width:10px;
  height:15px;
  display:flex;
}
.u915 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
.u915_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
.u916_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:100px;
}
.u916 {
  border-width:0px;
  position:absolute;
  left:16px;
  top:15px;
  width:100px;
  height:100px;
  display:flex;
}
.u916 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
.u916_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
.u917 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
.u918_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:16px;
}
.u918 {
  border-width:0px;
  position:absolute;
  left:238px;
  top:88px;
  width:18px;
  height:16px;
  display:flex;
}
.u918 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
.u918_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
.u919_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:16px;
}
.u919 {
  border-width:0px;
  position:absolute;
  left:238px;
  top:88px;
  width:18px;
  height:16px;
  display:flex;
}
.u919 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
.u919_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u909-1 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:411px;
  height:131px;
}
#u909-2 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:131px;
  width:411px;
  height:131px;
}
#u909-3 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:262px;
  width:411px;
  height:131px;
}
#u909-4 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:393px;
  width:411px;
  height:131px;
}
#u909 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:790px;
  width:411px;
  height:524px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
}
#u920_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:139px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Montserrat SemiBold', 'Montserrat Regular', 'Montserrat', sans-serif;
  font-weight:600;
  font-style:normal;
  color:#6E0650;
}
#u920 {
  border-width:0px;
  position:absolute;
  left:13px;
  top:772px;
  width:139px;
  height:16px;
  display:flex;
  font-family:'Montserrat SemiBold', 'Montserrat Regular', 'Montserrat', sans-serif;
  font-weight:600;
  font-style:normal;
  color:#6E0650;
}
#u920 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u920_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
